* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: aquamarine;
}

h1 {
    text-shadow: 1px 1px 1px black;
}

.container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.246);
    height: 66%;
    max-width: 100%;
    border-radius: 12px;
}

.container h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container .first {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first input {
    width: 100%;
    padding: 10px 5px;
    outline: none;
    cursor: pointer;
}

.input1 p {
    padding-bottom: 5px;
}

.input2 p {
    padding-bottom: 5px;
}

.container .second {
    margin-top: 10px;
    margin-left: 18px;

}

.container .second input {
    width: 98%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.second p {
    padding-bottom: 8px;
}

.submit-button {
    margin-top: 10px;
    margin-left: 75%;
    padding: 12px 30px;
    cursor: pointer;

}

.submit-button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

/*FOR MOBILE*/
@media screen and (max-width:480px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container .first {
        flex-direction: column;
        width: 90%;
    }

    .container .first input {
        width: 95%;
    }

    .container .second {
        margin-left: 0px;
    }

    .submit-button {
        margin-left: 50px;
    }
}

/*FOR MOBILE*/
@media screen and (max-width:512px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container .first {
        flex-direction: column;
        width: 90%;
    }

    .container .first input {
        width: 95%;
    }

    .container .second {
        margin-left: 0px;
    }

    .submit-button {
        margin-left: 75px;
    }

}

/*FOR MOBILE*/
@media screen and (max-width:1080px) {
    .container {
        height: fit-content;
        width: fit-content;
    }

    .container .first {
        flex-direction: column;
        width: 90%;
    }

    .container .first input {
        width: 95%;
    }

    .container .second {
        margin-left: 0px;
    }

    .submit-button {
        margin-left: 75px;
    }

}